* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  color: white;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  align-items: center;
}
.flex--column {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
header {
  display: flex;
  height: 760px;
  justify-content: space-around;
  background-image: url(./assets/hero-img-01.jpg);
  background-size: contain;
  justify-content: center;
  align-items: flex-start;
}
.header__container {
  padding-block: 1em;
  justify-content: center;
  width: 100%;
  gap: 18em;
  word-spacing: 0.1em;
  text-transform: uppercase;
}
.nav {
  justify-content: center;
  gap: 0.3vw;
  width: 32vw;
  height: 3.6vw;
  border-radius: 3em;
  background-color: rgba(122, 122, 122, 0.9);
  font-weight: 900;
  color: #ffffff;
  font-size: 0.75rem;
}
.cta__btn {
  border: none;
  background-color: #5000b3;
  height: 4em;
  width: 9%;
  justify-content: center;
  border-radius: 3em;
  font-weight: 900;
  color: #ffffff;
  font-size: 0.7em;
  letter-spacing: -0.1em;
  word-spacing: 0.1em;
  text-transform: uppercase;
}
.nav__list-item > a {
  height: 90%;
  border-radius: 2em;
  justify-content: center;
  padding: 1.1vw 2.2vw 0.9vw 2.2vw;
}
.list-item-first > a {
  background-color: #5000b3;
}

.nav__list-item {
  flex-shrink: 0;
}
.brand__logo > img {
  width: 8vw;
}
.explore__cards {
  margin-top: 90px;
  column-gap: 1vw;
  justify-content: center;
}
.explore-card {
  height: 84vh;
  border: 1px solid #b2b2b2;
  width: 30vw;
}
.explore-card__image {
  height: 86%;
  width: 30vw;
  background-size: cover;
}
.explore-card__image > img {
  padding: 1vw 0 0 1vw;
  width: 9vw;
}
.explore-card__image > .carnival-logo {
  width: 7vw;
}
footer {
  font-size: 0.9vw;
  font-weight: 500;
  line-height: 1.5em;
}
.footer-main {
  background-color: #5000b3;
  padding-block: 4vw;
  padding-inline: 3vw;
  align-items: flex-start;
  justify-content: center;
  gap: 6em;
}
.footer-bar {
  background-color: #ffbc00;
  color: #5000b3;
  font-family: "Poppins", Sans-serif;
  font-size: 0.9vw;
  padding-inline: 3vw;
  padding-block: 1.8vw;
}

footer li,
.timing-schedule {
  color: #d0d0d0;
}
.brand-text {
  color: #8a8a8a;
  font-size: 0.8vw;
  text-align: center;
  margin-block: 1em;
}
.timing-link {
  color: #ffbc00;
}
footer h2 {
  font-size: 1.5vw;
  font-family: "Maverlo", Sans-serif;
  font-weight: 800;
  letter-spacing: -0.1em;
  word-spacing: 0.1em;
  text-transform: uppercase;
}
.footer-bar span {
  color: black;
}

.footer-main__link {
  flex: 1 1 30%;
  padding-left: 1em;
}
.footer-main__timing {
  flex: 1 1 20%;
  padding-left: 3em;
}

.footer-main__links ul {
  max-height: 29vh;
  flex-wrap: wrap;
  column-gap: 1.6em;
  row-gap: 1em;
  margin-top: 2em;
}

.footer-main__brand {
  background-color: white;
  padding-block: 1vw;
  padding-inline: 2vw;
  border-radius: 20px;
  flex: 1 1 40%;
  max-width: 40%;
  margin-left: 3em;
}
.brand {
  width: 8vw;
}
.footer-main__brand img {
  width: 100%;
}
.brand-container {
  justify-content: center;
  width: 100%;
  gap: 1.7em;
}
.timing-schedule {
  margin-block: 1em;
}

.timing-link {
  margin-bottom: 2em;
  justify-content: space-between;
  min-width: 10em;
}
.timing-link svg {
  width: 1em;
}
.footer--top img {
  width: 100%;
}
.footer--top {
  padding-top: 4vw;
  background-color: #ffbc00;
  margin-bottom: -2.6em;
}
