* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  align-items: center;
}
.flex--column {
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer-main  {
    background-color: #5000B3;
}
.footer-bar {
    background-color: #FFBC00;
}